<% layout('layouts/boilerplate') %>
<div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100">
        <div class="col-12 col-md-8 col-lg-6 mx-auto">
            <div class="card">
                <img src="<%= campground.image %>" class="card-img-top img-fluid" alt="">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <p class="card-text"><%= campground.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted"><%= campground.location %></li>
                    <li class="list-group-item">$<%= campground.price %>/night</li>
                </ul>
                <div class="card-body">
                    <a href="/campgrounds/<%=campground._id%>/edit" class="btn btn-info me-2">Edit</a>
                    <form class="d-inline" action="/campgrounds/<%=campground._id %>?_method=DELETE" method="post">
                        <button class="btn btn-danger">Delete</button>
                    
                    </form>
                    
                        <div class="mt-1 card-footer text-muted">
                    2 days ago
                </div>  
               
                <h2>Leave a Review</h2>
                <form action="" class="mb-3">
                    <div class="mb-3 mt-2">
                        <label class="form-label" for="rating">Rating</label>
                        <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
                    </div>
                   <label class="form-label" for="body">Review</label>
                    <div class="mb-3">
                        <textarea name="review[body]" id="body" cols="35" rows="2"></textarea>
                    </div>
                    <button class="btn btn-success" >Submit</button>
                </form>
        </div>
    </div>
    
  <div class="card-footer text-muted"><a href="/campgrounds">All Campgrounds</a></div>
            </div>
</div>

